body {
    background-image: url('Photos/koufoto.webp');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    text-align: center; /* Metinlerin ortalanması için */
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #02c536;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input[type=text] {
    padding: 12px;
    width: 70%;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.search-container button {
    padding: 12px 24px;
    border: none;
    background-color: #02c536;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.search-container button:hover {
    background-color: #028a2a;
}
