<!DOCTYPE html>
{% load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akademik Makale Arama</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Akademik Makale Arama</h1>
        <div class="search-container">
            <form method="POST" action="{% url 'search_and_save' %}">
                {% csrf_token %}
                <input type="text" id="searchInput" name="keyword" placeholder="Makale Ara...">
                <button type="submit">Ara</button>
            </form>
        </div>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
